.createQuestion {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}
.hidden {
  display: none;
}
.login-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}
input {
  margin: 0.5rem;
  padding: 1rem;
}

.displayQuestion {
  width: 500px;
  text-align: center;
  margin: 4rem auto;
}
