*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
/* ///////////////////////////////////////// */
/* media-queries */
/* size lg: material UI 1280px */
@media only screen and (max-width: 1280px) {
  html {
    font-size: 56.25%; /*1rem = 9px */
  }
}
/* size md: material UI 960px */
@media only screen and (max-width: 960px) {
  html {
    font-size: 50.25%; /*1rem = 8px */
  }
}
/* size sm: material UI 600px */
@media only screen and (max-width: 600px) {
  html {
    font-size: 43.75%; /*1rem = 7px */
  }
}
